<ion-header no-border>
  <ion-toolbar padding>
    <ion-buttons slot="start">
      <img src="./assets/img/hyrskills-logo.png" height="30">
    </ion-buttons>
    <ion-buttons slot="end" id="links">
      <button ion-button (click)="goHome()" *ngIf="showHome">
        Home
      </button>
      <button ion-button (click)="onSwitchUserType()" id="user-type" *ngIf="!loggedIn && showType">
        {{selectedTypes[userType]}}
      </button>
      <button ion-button (click)="onSignin()" *ngIf="!loggedIn && showLogin">
        Sign in
      </button>
      <button ion-button (click)="onLogout()" *ngIf="loggedIn && showLogin">
        Logout
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>