<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>

    <ion-title>
      Set defaults
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

  <ion-list>

    <ion-item>
      <ion-label>Max Distance</ion-label>
      <ion-range min="0" max="100" color="secondary" [(ngModel)]="maxDistance">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">100</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      {{minimumScore}}
    </ion-item>
    <ion-item>
      <ion-label>Minimum Match Score</ion-label>
      <ion-icon name="remove-circle" (click)="onDecrement()"></ion-icon>
      <ion-icon name="add-circle" (click)="onIncrement()"></ion-icon>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-item (click)="resetFilters()" detail="false" class="reset-filters">
      Reset All Filters
    </ion-item>
  </ion-list>

</ion-content>