<ion-card>
    <ion-card-content>
        <div class="header">
            <h1>{{business.title}}</h1>
            <div class="score">{{business.score}}</div>
        </div>
        <ion-item>
            {{business.description}}
        </ion-item>

    </ion-card-content>
</ion-card>

<ion-card *ngIf="enableActions">
    <ion-card-content>
        <ion-item>
            <ion-button (click)="onInterested()" [fill]="business.interested? 'solid': 'outline'">Interested
            </ion-button>
            <ion-button (click)="onNotInterested()" [fill]="!business.interested? 'solid': 'outline'">Not
                Interested</ion-button>
        </ion-item>
    </ion-card-content>
</ion-card>