<header-public-component [showHome]="false" [showLogin]="true"></header-public-component>


<ion-content *ngIf="step == 1 && loaded" padding>
  <confirm-account *ngIf="user.status === 'unconfirmed'"></confirm-account>

  <ion-item>
    <ion-label position="stacked" color="primary">Business Name</ion-label>
    <ion-input id="business-name" name="business-name" type="text" required [(ngModel)]="user.business.name">
    </ion-input>
  </ion-item>

  <ion-item (click)="onAddressBusinessClick()">
    <ion-label position="stacked" color="primary">Head Office Address</ion-label>
    <ion-input id="head-office" name="head-office" type="text" required [(ngModel)]="user.business.headOfficeAddress"
      autocomplete="off" autocorrect="off" spellcheck="false">
    </ion-input>
    <button class="button-icon" ion-button item-right clear icon-only slot="end">
      <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
    </button>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">About Us</ion-label>
    <ion-textarea id="business-about" name="business-about" [(ngModel)]="user.business.about"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Why join our team</ion-label>
    <ion-textarea id="why-join" name="why-join" [(ngModel)]="user.business.whyJoin"></ion-textarea>
  </ion-item>

  <div padding>
    <ion-button (click)="onBusinessUpdate()" type="submit" expand="block">Next</ion-button>
  </div>

</ion-content>

<ion-content *ngIf="step == 2" padding>

  <h1 text-center>The job posting...</h1>

  <form #seekingprofile="ngForm" novalidate>

    <ion-item>
      <ion-label position="stacked" color="primary">Job Title</ion-label>
      <ion-input name="title" type="text" required [(ngModel)]="user.business.jobPosting.title"></ion-input>
    </ion-item>

    <h2 text-center>Desired Employment Type</h2>
    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Full Time</ion-label>
      <ion-toggle name="full-time" color="success" [(ngModel)]="user.business.jobPosting.fullTime"></ion-toggle>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Part Time</ion-label>
      <ion-toggle name="part-time" color="success" [(ngModel)]="user.business.jobPosting.partTime"></ion-toggle>
    </ion-item>

    <h2 text-center>Availability</h2>
    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Mornings</ion-label>
      <ion-toggle name="morning" color="success" [(ngModel)]="user.business.jobPosting.morning"></ion-toggle>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Afternoons</ion-label>
      <ion-toggle name="afternoon" color="success" [(ngModel)]="user.business.jobPosting.afternoon"></ion-toggle>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Evenings</ion-label>
      <ion-toggle name="evening" color="success" [(ngModel)]="user.business.jobPosting.evening"></ion-toggle>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Weekends</ion-label>
      <ion-toggle name="weekend" color="success" [(ngModel)]="user.business.jobPosting.weekend"></ion-toggle>
    </ion-item>
    <!--
    <ion-item>
      <ion-label position="stacked" color="primary">Min Salary</ion-label>
      <ion-input name="min-salary" type="text" required [(ngModel)]="user.business.jobPosting.minSalary">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="primary">Max Salary</ion-label>
      <ion-input name="max-salary" type="text" required [(ngModel)]="user.business.jobPosting.maxSalary">
      </ion-input>
    </ion-item>
  -->
    <p text-center>Salary expectations</p>

    <ion-item>
      <ion-label position="stacked" color="primary">Hourly Rate</ion-label>
      <ion-input name="max-salary" type="text" required [(ngModel)]="user.business.jobPosting.hourlyRate">
      </ion-input>
    </ion-item>
  </form>

  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onJobPostingUpdate()" type="submit" expand="block">Next</ion-button>
  </div>
</ion-content>

<ion-content *ngIf="step == 3" padding>

  <ion-item (click)="onAddressJobPostingClick()">
    <ion-label position="stacked" color="primary">Job Address</ion-label>
    <ion-input type="text" required [(ngModel)]="user.business.jobPosting.address">
    </ion-input>
    <button class="button-icon" ion-button item-right clear icon-only  slot="end">
      <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
    </button>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Start date</ion-label>
    <ion-datetime displayFormat="MM DD YYYY" pickerFormat="MM DD YYYY" [(ngModel)]="user.business.jobPosting.startDate">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Job Description</ion-label>
    <ion-textarea [(ngModel)]="user.business.jobPosting.description" required></ion-textarea>
  </ion-item>

  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onJobPostingUpdate()" type="submit" expand="block">Next</ion-button>
  </div>
</ion-content>

<ion-content *ngIf="step == 4" padding>

  <h1 text-center>Required experience...</h1>
  <div *ngFor="let experience of user.business.jobPosting.experience; let i = index; ">
    <div class="inline">
      <ion-select placeholder="Years" [(ngModel)]="experience.numberYears">
        <ion-select-option *ngFor="let year of [1,2,3,4,5,6,7,8,9,10,15,20]" [value]="year">{{year}}
          year{{ year > 1 ? 's': ''}}
        </ion-select-option>
      </ion-select>
      <span text-center> in </span>
      <ion-select placeholder="Industry" [(ngModel)]="experience.industry">
        <ion-select-option *ngFor="let industry of industries" [value]="industry">{{industry}}</ion-select-option>
      </ion-select>
      <a (click)="onRemoveExperience(i)">
        <ion-icon class="remove-experience" name="remove-circle"></ion-icon>
      </a>
    </div>
    <div style="clear:both;"></div>
  </div>

  <a (click)="onAddExperience()" class="add-experience text-center">
    Add experience
    <ion-icon name="add-circle" class="add-experience"></ion-icon>
  </a>

  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onExperienceSubmit()" type="submit" expand="block">Next</ion-button>
  </div>
</ion-content>

<ion-content *ngIf="step == 5" padding>
  <h1 text-center>Show off your skills</h1>
  <h2 text-center>{{selectedSkillCategory}}</h2>

  <div class="skill-header">
    <div class="skill-header-cell">Expert</div>
    <div class="skill-header-cell">Intermediate</div>
    <div class="skill-header-cell">Basic</div>
  </div>
  <div *ngFor="let skill of selectedSkills; let i = index;">
    <rating [rating]="skill.value" [name]="skill.name" (ratingChange)="ratingChange($event, i)"></rating>
  </div>

  <div>
    <ion-button (click)="onPreviousCategoryStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onSkillSubmit()" type="submit" expand="block">Next</ion-button>
    <ion-button (click)="onNextStep()" type="submit" expand="block">Skip skills entry</ion-button>
  </div>

</ion-content>

<ion-content *ngIf="step == 6">

  <h1 text-center> Preview your profile</h1>
  <job-posting-component [jobPosting]="user.business.jobPosting"></job-posting-component>
  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onNextStep()" type="submit" expand="block">Next</ion-button>
  </div>
</ion-content>

<ion-content *ngIf="step == 7" padding>
  <p padding>
    Now let's go see your matches!
    You can edit your Profile, Experience and Skills
    at any time and see new matches
  </p>

  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onSeeMatches()" type="submit" expand="block">See Matches</ion-button>
  </div>

  <p>
    By Signing Up, you agree to our <a routerLink="/terms">Terms & Conditions</a> and <a routerLink="/privacy">Privacy
      Policy</a>.
  </p>
</ion-content>