<ion-header no-border>
  <ion-toolbar padding>
    <ion-buttons slot="start">
      <img src="./assets/img/hyrskills-logo.png" height="30">
    </ion-buttons>
    <ion-buttons slot="end" id="links">
      <button ion-button routerLink="/tutorial">
        Tutorial
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="step == 1" padding>
  <!--
  <div class="login-logo">
    <img src="assets/img/hyrskills-logo.png" alt="Ionic logo">
  </div>
-->
  <h1 text-center>Let's create an account...</h1>

  <form #signupForm="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label position="stacked" color="primary">Fist Name</ion-label>
        <ion-input [(ngModel)]="user.firstName" name="firstname" type="text" #firstname="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="firstname.valid || submitted == false" padding-left>
          First name is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Last Name</ion-label>
        <ion-input [(ngModel)]="user.lastName" name="password" type="text" #lastname="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="lastname.valid || submitted == false" padding-left>
          Last name is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Email Address</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" type="text" #email="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" padding-left>
          Email is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Telephone Number</ion-label>
        <ion-input [(ngModel)]="user.telephone" name="telephone" type="text" #telephone="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="telephone.valid || submitted == false" padding-left>
          Telephone is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="user.password" name="password" type="password" #password="ngModel" required
          (ngModelChange)="onChangePassword()">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Confirm Password</ion-label>
        <ion-input [(ngModel)]="passwordConfirm" name="confirmpassword" type="password" required
          (ngModelChange)="onChangeRepeat()">
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p *ngIf="user.password && !passwordValidate" padding-left>
          Password is required and should be a minimum of 6 characters, contain at least one number and one letter.
        </p>
      </ion-text>

      <ion-text color="danger">
        <p *ngIf="passwordConfirm && !passwordConfirmValidate" padding-left>
          Passwords should match
        </p>
      </ion-text>

      <ion-item>
        <ion-label text-wrap>We work hard to customize your experience. Would you like to hear from us about special
          promotions
          and offers?</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="user.preferences.promotionsOffersOns" name="confirm"></ion-checkbox>
      </ion-item>
    </ion-list>

    <div padding>
      <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Create</ion-button>
    </div>
  </form>

  <p text-center>
    <a href="/login">Sign In</a>
  </p>

</ion-content>

<ion-content *ngIf="step == 2" padding>

  <ion-item>
    <ion-label position="stacked" color="primary">Business Name</ion-label>
    <ion-input id="business-name" name="business-name" type="text" required>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Head Office Address</ion-label>
    <ion-input id="head-office" name="head-office" type="text" required [(ngModel)]="business.headOfficeAddress">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">About Us</ion-label>
    <ion-textarea id="business-about" name="business-about" [(ngModel)]="business.about"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Why join our team</ion-label>
    <ion-textarea id="why-join" name="why-join" [(ngModel)]="business.whyJoin"></ion-textarea>
  </ion-item>

  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onBusinessUpdate()" type="submit" expand="block">Next</ion-button>
  </div>

</ion-content>

<ion-content *ngIf="step == 3" padding>

  <h1 text-center>The job posting...</h1>

  <form #seekingprofile="ngForm" novalidate>

    <ion-item>
      <ion-label position="stacked" color="primary">Job Title</ion-label>
      <ion-input name="title" type="text" required [(ngModel)]="jobPosting.title"></ion-input>
    </ion-item>

    <h2 text-center>Desired Employment Type</h2>
    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Full Time</ion-label>
      <ion-toggle name="full-time" color="success" [(ngModel)]="jobPosting.fullTime"></ion-toggle>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Part Time</ion-label>
      <ion-toggle name="part-time" color="success" [(ngModel)]="jobPosting.partTime"></ion-toggle>
    </ion-item>

    <h2 text-center>My Availability</h2>
    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Mornings</ion-label>
      <ion-toggle name="morning" color="success" [(ngModel)]="jobPosting.morning"></ion-toggle>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Afternoons</ion-label>
      <ion-toggle name="afternoon" color="success" [(ngModel)]="jobPosting.afternoon"></ion-toggle>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Evenings</ion-label>
      <ion-toggle name="evening" color="success" [(ngModel)]="jobPosting.evening"></ion-toggle>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Weekends</ion-label>
      <ion-toggle name="weekend" color="success" [(ngModel)]="jobPosting.weekend"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="primary">Min Salary</ion-label>
      <ion-input name="min-salary" type="text" required [(ngModel)]="jobPosting.minSalary">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="primary">Max Salary</ion-label>
      <ion-input name="max-salary" type="text" required [(ngModel)]="jobPosting.maxSalary">
      </ion-input>
    </ion-item>

  </form>

  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onJobPostingUpdate()" type="submit" expand="block">Next</ion-button>
  </div>
</ion-content>

<ion-content *ngIf="step == 4" padding>

  <ion-item>
    <ion-label position="stacked" color="primary">Job Address</ion-label>
    <ion-input type="text" required [(ngModel)]="jobPosting.address">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Start date</ion-label>
    <ion-datetime [(ngModel)]="date" display-format="MM DD YYYY" picker-format="MM DD YYYY" placeholder=""
      [(ngModel)]="jobPosting.startDate">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Job Description</ion-label>
    <ion-textarea [(ngModel)]="jobPosting.description" required></ion-textarea>
  </ion-item>

  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onJobPostingUpdate()" type="submit" expand="block">Next</ion-button>
  </div>
</ion-content>

<ion-content *ngIf="step == 5" padding>

  <h1 text-center>Required experience...</h1>

  <div *ngFor="let experience of experienceEntries; let i = index; ">
    <div class="inline">
      <ion-select placeholder="Years" [(ngModel)]="experience.numberYears">
        <ion-select-option *ngFor="let year of [1,2,3,4,5,6,7,8,9,10,15,20]" [value]="year">{{year}}</ion-select-option>
      </ion-select>
      <span text-center> As a </span>
      <ion-select placeholder="Industry" [(ngModel)]="experience.industry">
        <ion-select-option *ngFor="let industry of industries" [value]="industry">{{industry}}</ion-select-option>
      </ion-select>
      <a (click)="onRemoveExperience(i)">
        <ion-icon class="remove-experience" name="remove-circle"></ion-icon>
      </a>
    </div>
    <div style="clear:both;"></div>
  </div>

  <a (click)="onAddExperience()" class="add-experience text-center">
    Add experience
    <ion-icon name="add-circle" class="add-experience"></ion-icon>
  </a>

  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onExperienceSubmit()" type="submit" expand="block">Next</ion-button>
  </div>
</ion-content>

<ion-content *ngIf="step == 6">

  <h1 text-center> Preview your profile</h1>
  <div padding>
    <ion-button (click)="onPreviousStep()" type="submit" expand="block">Back</ion-button>
    <ion-button (click)="onNextStep()" type="submit" expand="block">Next</ion-button>
  </div>
</ion-content>

<ion-content *ngIf="step == 7" padding>
  <p padding>
    Now let's go see your matches!
    You can edit your Profile, Experience and Skills
    at any time and see new matches
  </p>

  <div padding>
    <ion-button (click)="onSeeMatches()" type="submit" expand="block">See Matches</ion-button>
  </div>

  <p>
    By Signing Up, you agree to our <a routerLink="/terms">Terms & Conditions</a> and <a routerLink="/privacy">Privacy
      Policy</a>.
  </p>
</ion-content>