<header-component (searchStringUpdated)="onFilterString($event)"></header-component>

<ion-content *ngIf="isLoaded">
  <div class="main">
    <div class="total-matches">
      <div class="inner">
        <div class="number">
          {{totalMatches}}
        </div>
        <div class="label">
          Matches
        </div>
      </div>
    </div>
  </div>
  <ion-segment [(ngModel)]="segment" (ionChange)="updateListing()">
    <ion-segment-button value="all">
      New
    </ion-segment-button>
    <ion-segment-button value="interested">
      Interested
    </ion-segment-button>

    <ion-segment-button value="notinterested">
      Not Interested
    </ion-segment-button>
  </ion-segment>

  <ion-list #scheduleList [hidden]="jobPostings.length === 0">
    <div *ngIf="user.type == 'employer'">
      <ion-item-group *ngFor="let jobPosting of activeJobPostings">
        <ion-item-divider sticky class="listing">
          <div class="match" routerLink="/app/tabs/profile/candidate/{{jobPosting.id}}">
            <div class="title">{{jobPosting.title}}</div>
            <div class="score">{{jobPosting.score}}</div>
          </div>
        </ion-item-divider>
      </ion-item-group>
    </div>

    <div *ngIf="user.type == 'jobseeker'">
      <ion-item-group *ngFor="let jobPosting of activeJobPostings">
        <ion-item-divider sticky class="listing">
          <div class="match" routerLink="/app/tabs/profile/candidate/{{jobPosting.id}}">
            <div class="title">{{jobPosting.title}}</div>
            <div class="score">{{jobPosting.score}}</div>
          </div>
        </ion-item-divider>
      </ion-item-group>
    </div>
    <!--
          <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase"
            [hidden]="session.hide">
            <ion-item routerLink="/app/tabs/schedule/session/{{session.id}}">
              <ion-label>
                <h3>{{session.name}}</h3>
                <p>
                  {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}}
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
                Favorite
              </ion-item-option>
              <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
                *ngIf="segment === 'favorites'">
                Remove
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item-group>
      -->
  </ion-list>

  <ion-list-header [hidden]="jobPostings.length > 0">
    No Matches Found
  </ion-list-header>

 
</ion-content>