<div id="confirm-account">
    <a (click)="onOpenConfirm()" id="open-confirm"><ion-icon id="alert-icon" name="alert"></ion-icon> Confirm Email
        <ion-icon class="toggle" name="arrow-round-forward" *ngIf="!openConfirm"></ion-icon>
        <ion-icon class="toggle" name="arrow-round-down" *ngIf="openConfirm"></ion-icon>
    </a>
    <div *ngIf="openConfirm">
   
        <p>Your email address has not been confirmed. To confirm your email address, please check your inbox for a confirmation code and enter it below.</p>
        <p>
            <a (click)="onResend()">Click to resend email</a>
        </p>

        <div>
            <ion-item>
                <ion-input name="code" type="text" required [(ngModel)]="code">
                </ion-input>
            </ion-item>
            <ion-button (click)="onSubmit()" type="submit" expand="block">Submit</ion-button>
        </div>
    </div>

</div>