#confirm-account{
    padding:20px; 
    background-color: #52DBC7;
    color:white;
    line-height:20px;
    a{
        color:white;
        font-weight:bold;
        .toggle{
            float:right;
        }
    }
    #open-confirm{
        height:20px;
        line-height:20px;
        width:100%;
        display:block;
    }
   
}