<header-public-component
  [userType]="userType"
  [showLogin]="false"
  [showType]="true"
  (userTypeChange)="changeUserType($event)"
></header-public-component>

<ion-content *ngIf="!start">
  <chat-component [type]="userType" (chatFinished)="onStart()"></chat-component>
</ion-content>

<ion-content *ngIf="start" lines="none">
  <h1>Let's create an account...</h1>

  <form #signupForm="ngForm">
    <ion-list lines="none">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-label color="dark">*First Name </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-input
                [(ngModel)]="user.firstName"
                name="firstname"
                type="text"
                #firstname="ngModel"
                required
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-text color="danger">
        <p class="center" [hidden]="firstname.valid || submitted == false">
          First Name is required.
        </p>
      </ion-text>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-label color="dark">*Last Name </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-input
                [(ngModel)]="user.lastName"
                name="lastname"
                type="text"
                #lastname="ngModel"
                required
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-text color="danger">
        <p class="center" [hidden]="lastname.valid || submitted == false">
          Last Name is required.
        </p>
      </ion-text>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-label color="dark">*Email Address </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-input
                [(ngModel)]="user.email"
                name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                type="email"
                #email="ngModel"
                required
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-text color="danger">
        <p class="center" [hidden]="email.valid || submitted == false">
          Please enter valid email address.
        </p>
      </ion-text>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-label color="dark">*Telephone Number </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-input
                [(ngModel)]="user.telephone"
                name="telephone"
                type="number"
                #telephone="ngModel"
                required
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-text color="danger">
        <p class="center" [hidden]="telephone.valid || submitted == false">
          Telephone is required.
        </p>
      </ion-text>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-label color="dark">*Password </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-input
                [(ngModel)]="user.password"
                name="password"
                type="password"
                required
                (ngModelChange)="onChangePassword()"
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-text color="danger">
        <p
          class="center"
          *ngIf="(user.password && !passwordValidate) || (submitted && !user.password)"
          padding-left
        >
          Password is required and should be a minimum of 6 characters, contain
          at least one number and one letter.
        </p>
      </ion-text>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-label color="dark">*Confirm Password </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <ion-input
                [(ngModel)]="passwordConfirm"
                name="confirmpassword"
                type="password"
                required
                (ngModelChange)="onChangeRepeat()"
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-text color="danger">
        <p class="center" *ngIf="passwordConfirm && !passwordConfirmValidate">
          Passwords should match!
        </p>
      </ion-text>

      <ion-item padding>
        <ion-label text-wrap
          >We work hard to customize your experience. Would you like to hear
          from us about special promotions and offers?
        </ion-label>
        <ion-checkbox
          slot="start"
          [(ngModel)]="user.preferences.promotionsOffersOns"
          name="confirm"
        >
        </ion-checkbox>
      </ion-item>
    </ion-list>

    <div class="ion-text-center">
      <ion-button
        class="button"
        (click)="onSignup(signupForm)"
        type="submit"
        >SIGN UP!</ion-button
      >
    </div>

    <div class="bar bar-footer">
      <p text-center>
        By Signing up, you agree to our <br /><a (click)="onTerms()">
          Terms & Conditions</a
        >
        and <a (click)="onPrivacy()">Privacy Policy</a>.
      </p>
    </div>

    <p text-center>
      Already registered? &nbsp;&nbsp;<a href="/login">Sign In</a>
    </p>
  </form>
</ion-content>
